[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = ">=4.5.0"
python-dotenv = "*"
"discord.py" = {extras = ["voice"], version = ">=2.0.0"}

[dev-packages]

[requires]
python_version = "3.12"
